body{
    background-color: black;
}

h1{
    color: #ffffff;
    font-size: 100px;
    text-align: center;
}
p{
    color: #ffffff;
}
img{
    width: 200px;
    height: 200px;
    margin-left: 100px;

}
img{
width: 200px; 
height: 200px;
}
.cabecalho{
    background-color: #fff;
    display:flex
}
.logoimg{
    width: 150px;
    height: 160px;
}
.listacabecalho{
    font-display: flex;
    margin-left: 350px;
    margin-top: 100px;
}
.itemlistacabecalho{
list-style: none;
text-transform:uppercase
